.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}


header{
  display: flex;
  order: 1;
  width: 100%;
  min-height: 200px;
  border: 1px solid black;
}

.logo{
  order: 1;
  border: 1px solid blue;
  width: 20%;
  min-height: 200px;
  text-indent: -9999px;
  background: url(../img/udacity.svg) no-repeat;
  background-size: 200px;
}


.name{
  order: 2;
  width: 80%;
  min-height:200px;
  border: 1px solid red;
}

.name_text{
  width:100%;
  float: right;
}


section{
  border: 1px solid black;
}

article {
  border: 1px solid black;
}
